.favorite-btn {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.favorite-btn.favorite {
    background-color: gold;
}

.favorite-btn:hover {
    background-color: #6a56d9;
}

.favorites {
    text-align: center;
    margin-top: 20px;
}

.favorites ul {
    list-style: none;
    padding: 0;
}

.favorites li {
    margin: 10px 0;
}

.favorites li img {
    width: 150px;
}



.favorites-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.remove-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
    border: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.favorite-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.favorite-item img {
    width: 150px;
    margin-bottom: 10px;
}